body {

    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4f46e5, #9333ea);
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.container {

    margin-top: 120px;
}

h1 {

    font-size: 40px;
    margin-bottom: 30px;
}

input {

    width: 420px;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
}

button {

    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    background-color: #22c55e;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {

    background-color: #16a34a;
}

.results {

    margin-top: 40px;
}

.job-card {

    background: white;
    color: black;
    width: 400px;
    margin: 10px auto;
    padding: 12px;
    border-radius: 6px;
    font-weight: bold;
}